h1{
    font-weight: bold;
    color:rgb(1, 4, 8);
    text-align: center;
    background-color: bisque;
    
}
#totalratings{
  background-color: beige;
  width: 300px;
  border-radius: 20px;
  height: 300px;
}
h2{
    text-align: center;
    background-color: yellow;
    border-radius: 50px;
}
#form{
    text-align: justify;
    background-color: aqua;
    width:500px ;
    border-radius: 20px;
    height: 60px;
}
#ul{
    background-color: rgb(244, 236, 236);
    height: 250px;
    border-radius: 30px;
    width:500px ;
    border-radius: 20px;
}